/* Reset some default styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: 'Prompt', sans-serif;
    background-color: #a5c8ca;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #232f3e;
    color: white;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Navigation styles */
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 30px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #f3d4c0;
  }
  
  /* Product details styles */
  .product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
  }
  
  .product-images {
    flex: 1;
    max-width: 50%; /* You can adjust this percentage as needed */
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 100%;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    
  }
  .product-images img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna vertical */
    justify-content: flex-start; /* Alinea al principio */
    padding-left: 30px;
  }
  
  .product-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info .price {
    font-size: 18px;
    color: #e47911;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #f0c14b;
    color: #111;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Agrega margen inferior */
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Footer styles */
footer {
  background-color: #232f3e;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

  

.carousel-container {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-container img {
  width: 100%;
  height: auto;
}

/* Estilos de los botones del carrusel */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button-left {
  left: 10px;
}

.carousel-button-right {
  right: 10px;
}

.description{
  text-align: center;
 padding-bottom: 100px;
 padding-top: -400px;
 font-size: 35px;
}
.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* O ajusta la altura según tus necesidades */
}

.quiensomos {
  max-width: 100%;
  max-height: 100%;
}

