h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

.blue {
  background: #a5c8ca;
}

/* Curved bg with plain CSS */

.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve-image {
  position: absolute;
  bottom: -250px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 0;
  width: 600px;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #a5c8ca;
  transform: translate(-4%, 40%);
  z-index: -1;
}

header {
  background-color: #232f3e;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

header.sticky {
  background-color: #232f3e;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f3d4c0;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Distribución equitativa de columnas */
  gap: 20px;
  margin: 0 350px;
}

.producto {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 100%;
  margin: 0 auto;
  height: 500px; /* Establece una altura fija para las cajas de productos */
  overflow: hidden; /* Evita que el contenido grande distorsione la caja */
}

.producto:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.producto img {
  width: 100%; /* Establece un ancho del 100% para que todas las imágenes tengan el mismo ancho */
  height: auto; /* Permite que las imágenes mantengan su relación de aspecto */
  object-fit: cover; /* Escala la imagen para llenar el espacio sin deformarla */
  max-height: 100%; /* Asegura que la imagen no supere la altura de la caja */
  margin: auto; /* Centra la imagen verticalmente */
}
.producto h2,
p {
  color: #0f0f10;
}

.precio {
  display: block;
  margin: 10px 0;
  color: #795548;
  font-weight: bold;
}

button {
  background-color: #795548;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5d4037;
}
